aioboto3==14.1.0
aiobotocore==2.21.1
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.16
aioitertools==0.12.0
aiosignal==1.3.2
annotated-types==0.7.0
anyio==4.9.0
attrs==25.3.0
awscli==1.38.1
awscrt==0.26.1
azure-core==1.34.0
azure-cosmos==4.9.0
azure-storage-blob==12.25.1
beautifulsoup4==4.13.4
boto3==1.37.1
boto3-stubs==1.38.1
botocore==1.37.1
botocore-stubs==1.37.29
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
coverage==7.8.0
cryptography==44.0.2
dnspython==2.7.0
docker==7.1.0
docutils==0.16
dydantic==0.0.8
fastapi==0.115.12
frozenlist==1.5.0
h11==0.14.0
httpcore==1.0.7
httptools==0.6.4
httpx==0.28.1
idna==3.10
iniconfig==2.1.0
isodate==0.7.2
Jinja2==3.1.6
jmespath==1.0.1
json_repair==0.42.0
jsonpatch==1.33
jsonpointer==3.0.0
langchain-core==0.3.55
langgraph==0.3.33
langgraph-checkpoint==2.0.24
langgraph-prebuilt==0.1.8
langgraph-sdk==0.1.63
langsmith==0.3.33
MarkupSafe==3.0.2
moto==5.1.4
motor==3.7.0
multidict==6.4.3
mypy==1.15.0
mypy-boto3-sqs==1.38.0
mypy-extensions==1.0.0
numpy==2.2.6
orjson==3.10.16
ormsgpack==1.9.1
packaging==24.2
pathspec==0.12.1
pluggy==1.5.0
propcache==0.3.1
pyasn1==0.6.1
pyclean==3.1.0
pycparser==2.22
pydantic==2.11.3
pydantic-settings==2.9.1
pydantic_core==2.33.1
pymongo==4.12.0
pytest==8.3.5
pytest-asyncio==0.26.0
pytest-cov==6.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
PyYAML==6.0.2
requests==2.32.3
requests-toolbelt==1.0.0
responses==0.25.7
rsa==4.7.2
ruff==0.11.6
s3transfer==0.11.3
scipy==1.15.3
scrapegraph_py==1.12.0
setuptools==79.0.1
six==1.17.0
sniffio==1.3.1
soupsieve==2.7
starlette==0.46.1
tenacity==9.1.2
testcontainers==4.10.0
trustcall==0.0.39
types-aioboto3==14.1.0
types-aiobotocore==2.21.1
types-aiobotocore-s3==2.21.1
types-awscrt==0.26.1
types-cffi==1.17.0.20250326
types-docutils==0.21.0.20241128
types-jmespath==1.0.2.20240106
types-pyOpenSSL==24.1.0.20240722
types-PyYAML==6.0.12.20250402
types-requests==2.32.0.20250328
types-s3transfer==0.11.4
types-setuptools==79.0.0.20250422
types-ujson==5.10.0.20250326
typing-inspection==0.4.0
typing_extensions==4.13.2
urllib3==2.4.0
uvicorn==0.34.2
uvloop==0.21.0
watchfiles==1.0.5
websockets==15.0.1
Werkzeug==3.1.3
wrapt==1.17.2
xmltodict==0.14.2
xxhash==3.5.0
yamllint==1.37.0
yarl==1.19.0
zstandard==0.23.0
